<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HumanResourceManagementSystem</title>
    <base href="/">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/dist/main/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/dist/main/styles.380d9f889dc51551.css" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="~/dist/main/styles.380d9f889dc51551.css">
    </noscript>
</head>
<body>
    
    @RenderBody()

    <script src="~/dist/main/runtime.77ca2533708dbe36.js" type="module"></script>
    <script src="~/dist/main/polyfills.e5f4acc1506a2312.js" type="module"></script>
    <script src="~/dist/main/scripts.f67d59ab5410588e.js" defer></script>
    <script src="~/dist/main/main.ac241c26e6caea4c.js" type="module"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/dist/main/1206.1a5f7524bd86a44a.js"></script>
    <script src="~/dist/main/1270.cddcdf8cd8b812fc.js"></script>
    <script src="~/dist/main/1302.1a61888f85a15fd0.js"></script>
    <script src="~/dist/main/1307.155dfccbfd39ad68.js"></script>
    <script src="~/dist/main/1456.285fde6346035727.js"></script>
    <script src="~/dist/main/1527.0bc1c7c977a35da1.js"></script>
    <script src="~/dist/main/1697.8e84833b4c582020.js"></script>
    <script src="~/dist/main/1701.a2db4476751caf2c.js"></script>
    <script src="~/dist/main/1948.263a826d0fb9a2d5.js"></script>
    <script src="~/dist/main/2039.974cc341c8616d76.js"></script>
    <script src="~/dist/main/2058.d677d20c2d105c25.js"></script>
    <script src="~/dist/main/2316.660f35e48f56cf6a.js"></script>
    <script src="~/dist/main/237.56d3828e496bd8b0.js"></script>
    <script src="~/dist/main/2746.fdeda455ce7f7c65.js"></script>
    <script src="~/dist/main/2983.c634dc2f98224d82.js"></script>
    <script src="~/dist/main/2986.ca18a1723600b8cd.js"></script>
    <script src="~/dist/main/3267.17589660629f102b.js"></script>
    <script src="~/dist/main/3535.d7e71fe6613bbdb0.js"></script>
    <script src="~/dist/main/3546.872b4b964b501cca.js"></script>
    <script src="~/dist/main/3659.573d89760dadaea0.js"></script>
    <script src="~/dist/main/3689.3bb29987dfdd7fd6.js"></script>
    <script src="~/dist/main/3848.4b1204b2602bbd5c.js"></script>
    <script src="~/dist/main/3916.588eca8c757f26fd.js"></script>
    <a href="~/dist/main/3rdpartylicenses.txt">~/dist/main/3rdpartylicenses.txt</a>
    <script src="~/dist/main/4199.5c0a9acb1536a92d.js"></script>
    <script src="~/dist/main/4322.d23af2535955aae8.js"></script>
    <script src="~/dist/main/4385.4a27e911643c7227.js"></script>
    <script src="~/dist/main/4451.3cbbe0ac90835be5.js"></script>
    <script src="~/dist/main/5028.af1763f732f5bf7b.js"></script>
    <script src="~/dist/main/5393.0b0c89310a590544.js"></script>
    <script src="~/dist/main/5546.c4f917615009f6c1.js"></script>
    <script src="~/dist/main/5657.b8bead0c5e160c04.js"></script>
    <script src="~/dist/main/5700.c01f4f67877d4dcf.js"></script>
    <script src="~/dist/main/5819.d966322da786be1e.js"></script>
    <script src="~/dist/main/5938.846e4a2aa34f1d1d.js"></script>
    <script src="~/dist/main/6170.63d63959c2bc7a16.js"></script>
    <script src="~/dist/main/6308.4bf829a64f2ea8ed.js"></script>
    <script src="~/dist/main/6909.48785fc143dc138f.js"></script>
    <script src="~/dist/main/7009.aca81950a1f8aa64.js"></script>
    <script src="~/dist/main/7084.e7589cd4ce751f9f.js"></script>
    <script src="~/dist/main/7140.60f1799f446f91e8.js"></script>
    <script src="~/dist/main/72.12d4cd20b0e44ce6.js"></script>
    <script src="~/dist/main/7216.6ebc38a402fb9850.js"></script>
    <script src="~/dist/main/7688.4f55c03e31c43462.js"></script>
    <script src="~/dist/main/7760.7d65bb2fd5e2b6f2.js"></script>
    <script src="~/dist/main/8027.81855ed4b3bbb6b5.js"></script>
    <script src="~/dist/main/8529.afe72cc262c6df6e.js"></script>
    <script src="~/dist/main/8578.f89a1ddf4eb5bda4.js"></script>
    <script src="~/dist/main/860.9336677609c45c6b.js"></script>
    <script src="~/dist/main/8799.664d099f42c31b1b.js"></script>
    <script src="~/dist/main/9103.fe3db5c1964cd8fe.js"></script>
    <script src="~/dist/main/9481.78fa8968bfd6cf0e.js"></script>
    <script src="~/dist/main/9493.593907ae6a4c690f.js"></script>
    <script src="~/dist/main/959.19b485281249b3f2.js"></script>
    <script src="~/dist/main/9590.4a4398e20b935555.js"></script>
    <script src="~/dist/main/9625.cdc81edcb926f9cc.js"></script>
    <script src="~/dist/main/9706.0d26e75ccd154817.js"></script>
    <script src="~/dist/main/9841.7c06486cfc21d768.js"></script>
    <script src="~/dist/main/9932.c60dcf4463f5c6ec.js"></script>
    <script src="~/dist/main/common.cee8b402c7d15c23.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>
