################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/FileContentIndex
[Dd]ebug/
[Rr]elease
/.vs/
/.vs/HRManagementSystem/v17
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/project.razor.vs.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/project.assets.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/HumanResourceManagementSystem.csproj.nuget.g.props
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/HumanResourceManagementSystem.csproj.nuget.dgspec.json
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/FileContentIndex/f59348db-65e8-4c97-90ed-fcbd984c3e12.vsidx
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/FileContentIndex/e5b3e57a-63b5-4d0d-8899-0e311f82c62e.vsidx
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/FileContentIndex/d151522f-d6da-422d-a641-e12a6b97680b.vsidx
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/FileContentIndex/b96b4502-d0a6-447a-aca3-e656f2076f7b.vsidx
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/FileContentIndex/50b57da5-e8fd-4f85-9946-e398cd667932.vsidx
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/DesignTimeBuild/.dtbcache.v2
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/v17/.suo
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/v17/.suo
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/Tsc706ad0e9.out
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.csproj.FileListAbsolute.txt
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/v17
/.vs
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/HumanResourceManagementSystem.staticwebassets.runtime.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/HumanResourceManagementSystem.pdb
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/HumanResourceManagementSystem.exe
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/HumanResourceManagementSystem.dll
/HumanResourceManagementSystem/.vs/ProjectEvaluation/humanresourcemanagementsystem.projects.v5.2
/HumanResourceManagementSystem/.vs/ProjectEvaluation/humanresourcemanagementsystem.metadata.v5.2
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/_IsIncrementalBuild
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/staticwebassets.pack.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/staticwebassets.development.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/staticwebassets.build.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.pdb
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.MvcApplicationPartsAssemblyInfo.cs
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.genruntimeconfig.cache
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.dll
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.csproj.CoreCompileInputs.cache
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/apphost.exe
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/ref/HumanResourceManagementSystem.dll
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/refint/HumanResourceManagementSystem.dll
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/HumanResourceManagementSystem.csproj.nuget.g.targets
/HumanResourceManagementSystem/HumanResourceManagementSystem/HumanResourceManagementSystem.csproj.user
*.1
*.dll
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/HumanResourceManagementSystem.deps.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/project.nuget.cache
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.csproj.AssemblyReference.cache
/HumanResourceManagementSystem/HumanResourceManagementSystem/obj/Debug/net6.0/HumanResourceManagementSystem.assets.cache
/HumanResourceManagementSystem/HumanResourceManagementSystem/main2/node_modules/@angular-eslint/eslint-plugin-template/dist/eslint-plugin-template/src/utils/is-interactive-element/get-interactive-element-ax-object-schemas.d.ts
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/v17/fileList.bin
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/v17/.suo
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/v17/.futdcache.v2
/HumanResourceManagementSystem/.vs/ProjectEvaluation/humanresourcemanagementsystem.projects.v6.1
/HumanResourceManagementSystem/.vs/ProjectEvaluation/humanresourcemanagementsystem.metadata.v6.1
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/HumanResourceManagementSystem.pdb
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/HumanResourceManagementSystem.dll
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/main2/.eslintrc.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/main2/src/assets/i18n/es.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/main2/src/assets/i18n/en.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/main2/src/assets/i18n/de.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/bin/Debug/net6.0/main2/src/assets/data/adv-tbl-data.json
/HumanResourceManagementSystem/HumanResourceManagementSystem/main/src/app/authentication/signin/signin.component.ts
/HumanResourceManagementSystem/HumanResourceManagementSystem/main/src/app/authentication/signin/signin.component.html
/HumanResourceManagementSystem/HumanResourceManagementSystem/main/src/app/authentication/signup/signup.component.html
/HumanResourceManagementSystem/HumanResourceManagementSystem/main/src/app/authentication/authentication.module.ts
/HumanResourceManagementSystem/HumanResourceManagementSystem/Migrations/DataContextModelSnapshot.cs
/HumanResourceManagementSystem/HumanResourceManagementSystem/Migrations/20230606141458_hrmsusers.Designer.cs
/HumanResourceManagementSystem/HumanResourceManagementSystem/Migrations/20230606141458_hrmsusers.cs
/HumanResourceManagementSystem/HumanResourceManagementSystem/Models/TokenVM.cs
/HumanResourceManagementSystem/HumanResourceManagementSystem/Models/RegisterModel.cs
/HumanResourceManagementSystem/HumanResourceManagementSystem/main/src/app/swagger-generated.ts
/HumanResourceManagementSystem/HumanResourceManagementSystem/hrmes.mdb-shm
/HumanResourceManagementSystem/HumanResourceManagementSystem/hrmes.mdb-wal
/HumanResourceManagementSystem/.vs/ProjectEvaluation/humanresourcemanagementsystem.metadata.v6.1
/HumanResourceManagementSystem/.vs/ProjectEvaluation/humanresourcemanagementsystem.projects.v6.1
/HumanResourceManagementSystem/HumanResourceManagementSystem/Migrations/20230531231852_0001_InitialCreate.cs
/HumanResourceManagementSystem/HumanResourceManagementSystem/Migrations/20230531231852_0001_InitialCreate.cs
