################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/FileContentIndex
/HumanResourceManagementSystem/.vs/HumanResourceManagementSystem/DesignTimeBuild/.dtbcache.v2
