.auth-form-parent-signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.auth-form-child-signup-container{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}