.high-end-button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(45, 45, 45, 0.2);
  /* Add more custom styling as needed */
}
.bg-custom-gray {
  background-color: #303030; /* Use your desired color code for a lighter shade of dark gray */
}
.custom-card {
  height: 500px; /* Adjust the height as per your requirements */
  padding: 20px; /* Add additional padding as per your requirements */
}

.hover-effect:hover {
  /* Add your desired hover effect styles here */
  background-color: #007bff; /* Example: change background color on hover */
  color: #fff; /* Example: change text color on hover */
  /* Add more custom hover effect styles as needed */
}

