<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Daily Time Record'" [items]="['Home']" [active_item]="'Daily Time Record'">
      </app-breadcrumb>
    </div>

    <div class="container">
      <div class="card bg-transparent border-0 custom-card">
        <div class="d-flex flex-column align-items-center bg-custom-gray
        text-light p-4 rounded w-50 h-5 mx-auto">
          <h1 class="mt-4">{{ currentDate }}</h1>
          <h2 class="mb-4">{{ currentTime }}</h2>
          <!-- <div class="time-section row w-50">
            <div class="col time-in">
              <h5 class="mb-0">Time In:</h5>
              <p class="display-time">8:00 AM</p>
            </div>
            <div class="col time-out">
              <h5 class="mb-0">Time Out:</h5>
              <p class="display-time">5:00 PM</p>
            </div>
          </div> -->
          <br>
          <br>
          <br>
          <div class="buttons-container d-flex justify-content-center mt-4">
            <button class="btn btn-success high-end-button hover-effect" style="margin-right: 10px;">Time In</button>
            <button class="btn btn-danger high-end-button">Time Out</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>










<!-- <div class="time-display bg-dark text-light p-4 rounded">
  <h3 class="mb-4">Time Tracking</h3>
  <div class="d-flex flex-column align-items-center">
    <div>
      <h5 class="mb-0">Current Time:</h5>
      <p class="display-time" style="color: white;">{{ currentTime }}</p>
    </div> -->
    <!-- <div>
      <h5 class="mb-0">Current Date:</h5>
      <p class="display-date">{{ currentDate | date: 'mediumDate' }}</p>
    </div> -->
  <!-- </div>
  <div class="d-flex justify-content-center mt-4">
    <button id="time-in-button" class="btn btn-primary mr-2">Time In</button>
    <button id="time-out-button" class="btn btn-danger">Time Out</button>
  </div>
</div> -->
