<div class="addContainer model-container">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <h3>New Position</h3>
        </div>
      </div>
    </div>
    <button mat-icon-button
      class="modal-close-button"
      (click)="dialogRef.close()"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-2">
      <div class="row">
        <div class="col">
          <mat-form-field
            class="example-full-width"
            appearance="outline">
            <mat-label>Position Name</mat-label>
            <input matInput
            [(ngModel)]="updatePositionData.positionName"
            name="Position Name"
            required>
            <mat-icon matSuffix>business_center</mat-icon>
          </mat-form-field>
          <mat-form-field
            class="example-full-width"
            appearance="outline">
            <mat-label>Position Description</mat-label>
            <textarea
            [(ngModel)]="updatePositionData.positionDescription"
            name="Position Description"
            matInput></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="example-button-row" align="end">
          <button mat-raised-button color="primary"
            (click)="onUpdate()"
            [mat-dialog-close]="1">
            Update
          </button>
          <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
