<div class="addContainer model-container">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <h3>New Department</h3>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-2">
      <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Department Name</mat-label>
            <input matInput
            name="Department"
            [(ngModel)]="departmentViewModel.departmentName"
            required>
            <mat-icon matSuffix>business_center</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="example-button-row" align="end">
          <button mat-raised-button color="primary"
            (click)="onSave()"
            [mat-dialog-close]="1">
            Save
          </button>
          <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
