


<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Employees'" [items]="['Employees']" [active_item]="'All Employees'">
      </app-breadcrumb>
    </div>

    <div class="row parent-div">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card child-div">
          <div class="body">
            <!-- HEADER -->
            <div class="materialTableHeader">
              <div class="row">
                <div class="col-8">
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-title">
                      <h2>All Employees</h2>
                    </li>
                    <li class="tbl-search-box">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Search" type="text"
                        [(ngModel)]="userNameFilter"
                        (keyup)="onSearch()"
                        class="browser-default search-field"
                        aria-label="Search box">
                    </li>
                    <!-- <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="ADD">
                        <button mat-mini-fab color="primary" (click)="addNew()">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </div>
                    </li> -->
                    <!-- <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="REFRESH">
                        <button mat-mini-fab

                        color="primary">
                          <mat-icon class="col-white">refresh</mat-icon>
                        </button>
                      </div>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- END OF HEADER -->
            <br>
            <!-- TABLE -->
            <div class="table-container" *ngIf="fileResponse">
              <table class="table table-hover table-adjustable" [dataSource]="dataSource">
                <thead class="thead-light">
                  <tr>
                    <!-- <th>ID</th> -->
                    <th>Full Name</th>
                    <th>Positions</th>
                    <th>Degree</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Date Hired</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let employee of dataSource.data">
                    <tr>
                      <!-- <td>{{ employee.id }}</td> -->
                      <td>{{ employee.fullName }}</td>
                      <td>{{ employee.positions }}</td>
                      <td>{{ employee.degree }}</td>
                      <td>{{ employee.phoneNumber }}</td>
                      <td>{{ employee.email }}</td>
                      <td>{{ employee.dateHired }}</td>
                      <td>
                        <button mat-icon-button color="accent"
                          class="tbl-action-btn"
                          (click)="onEdit(employee)"
                          matTooltip="Edit">
                          <app-feather-icons [icon]="'edit'"
                          [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button color="accent"
                         class="tbl-action-btn"
                         (click)="onDelete(positions)"
                         matTooltip="Delete">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            <!-- <mat-paginator class="paginator-position" [length]=" " [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            >
            </mat-paginator> -->

            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
