.parent-dialog{
  background-color: #01a72b;
}

.success-dialog {
  background-color: #4CAF50; /* Replace with the desired green color */
  color: white; /* Set text color to contrast with the background */
}

.success-title {
  color: white; /* Set text color to contrast with the background */
}

.success-content {
  color: white; /* Set text color for content */
}
