<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p><span class="font-weight-bold"> Position : {{data.positionName}} </span></p>
      </li>
      <li>
        <p><span class="font-weight-bold"> Description : {{data.positionDescription}}</span></p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn"
    (click)="onDelete()"
    [mat-dialog-close]="1">
      Delete
    </button>
    <button mat-flat-button
    (click)="onNoClick()"
    tabindex="-1">Cancel</button>
  </div>
</div>
